<template>
  <q-page padding>
    <!-- content -->
    <q-field
    label="Промо-код"
    helper="Введите промо-код"
    >
    <q-input v-model="code"/>
    </q-field>
    <q-btn @click="activateCode()"  color="primary">Активировать</q-btn>
  </q-page>
</template>

<script>
import UserStoreMixin from 'src/store/user/mixin.js'
export default {
  name: 'DepositPromoPage',
  mixins: [UserStoreMixin],
  data () {
    return {
      code: ''
    }
  },
  methods: {
    activateCode () {
      this.$store.dispatch('user/promoActivate', this.code)
    }
  }
}
</script>

<style>
</style>
