<template>
  <q-page padding center>
    <!-- content -->
    <div>
      <q-field
        label="E-mail"
        helper="Введите E-mail"
      >
        <q-input type="email" v-model="email"/>
      </q-field>
      <q-field
        label="Пароль"
        helper="Введите пароль"
      >
        <q-input type="password" v-model="password"/>
      </q-field>
      <div v-if="loginErrorExist" class="q-pa-sm error">{{ loginError }}</div>

      <q-btn @click="tryLogin()">Вход</q-btn>
    </div>
    <div class="q-pa-sm">
      <router-link to="/register" class="q-pa-sm">Регистрация</router-link>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'LoginPage',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    tryLogin () {
      if (this.email.length === 0 || this.password.length === 0) {
        this.$store.commit('user/loginError', 'Необходимо заполнить все поля')
        return null
      }
      this.$store.dispatch('user/login', this.loginParams)
    }
  },
  computed: {
    loginParams () {
      return {
        login: this.email,
        password: this.password
      }
    },
    loginErrorExist () {
      return this.$store.state.user.loginError !== false
    },
    loginError () {
      return this.$store.state.user.loginError
    }
  },
  created () {
    if (this.$store.state.user.logged) {
      return this.$router.push('/')
    }
    this.$store.commit('page/title', 'Вход')
    this.$store.dispatch('user/check')
  }

}
</script>

<style>
</style>
