<template>
  <q-page padding center>
    <!-- content -->
    <div>
      <q-field
        label="E-mail"
        helper="Введите E-mail"
      >
        <q-input type="email" v-model="email"/>
      </q-field>
      <q-field
        label="Пароль"
        helper="Введите пароль"
      >
        <q-input type="password" v-model="password"/>
      </q-field>
      <q-field
        label="Повторите пароль"
        helper="Введите пароль повторно"
      >
        <q-input type="password" v-model="password2"/>
      </q-field>
      <div v-if="registerErrorExist" class="q-pa-sm error">{{ registerError }}</div>

      <q-btn @click="tryRegister()">Регистрация</q-btn>
    </div>
    <div class="q-pa-sm">
      <router-link to="/login" class="q-pa-sm">Вход</router-link>
    </div>

  </q-page>
</template>

<script>
export default {
  name: 'RegisterPage',
  data () {
    return {
      email: '',
      password: '',
      password2: ''
    }
  },
  created () {
    this.$store.dispatch('user/check')
    this.$store.commit('page/title', 'Регистрация')
  },
  computed: {
    registerParams () {
      return {
        login: this.email,
        password: this.password
      }
    },
    registerErrorExist () {
      return this.$store.state.user.registerError !== false
    },
    registerError () {
      return this.$store.state.user.registerError
    }
  },
  methods: {
    tryRegister () {
      if (this.email.length === 0 || this.password.length === 0 || this.password2.length === 0) {
        this.$store.commit('user/registerError', 'Необходимо заполнить все поля')
        return null
      }
      if (this.password !== this.password2) {
        this.$store.commit('user/registerError', 'Пароли должны совпадать')
        return null
      }
      if (this.password.length < 6) {
        this.$store.commit('user/registerError', 'Придумайте пароль длиннее 4 символов')
        return null
      }
      this.$store.dispatch('user/register', this.registerParams)
    }
  }
}
</script>

<style>
</style>
