<template>
  <div v-if="availablePacks.loaded">
    <div class="q-headline q-ma-sm">Доступные комплекты</div>
    <div class="">
      <q-card inline class="q-ma-sm pack-card"
              v-for="(pack, index) in availablePacks.list"
              v-bind:key="index"
              v-bind:item="pack"
      >
        <q-card-title>
          {{pack.name}}
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          {{pack.descriptions}}
        </q-card-main>
        <q-card-separator />
        <q-card-main>
          Цена: {{pack.price * count}}
        </q-card-main>
        <q-card-separator />
        <q-card-actions>
          <q-btn @click="buyPack(pack)" flat color="primary" v-if="logged">Купить</q-btn>
          <div class="q-ma-sm">
            <q-input @change="val => { count = Math.min(100,Math.max(1,val)) }"  style="max-width:60px" inline suffix="шт." :value="count" type="number" numeric-keyboard-toggle/>
          </div>
          <q-btn flat>Подробнее</q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
import UserStoreMixin from 'src/store/user/mixinStore.js'
export default {
  name: 'AvailablePacksComponent',
  mixins: [UserStoreMixin],
  data () {
    return {
      count: 1
    }
  },
  methods: {
    buyPack (pack) {
      this.$q.dialog({
        title: 'Подтверждение покупки',
        message: 'Вы действительно хотите купить пакет "' + pack.name + '" x ' + this.count + ' шт. по цене ' + pack.price * this.count + ' ?',
        cancel: true
      })
        .then(() => {
          this.buyPackSend(pack.id)
        })
    },
    buyPackSend (packId) {
      this.$store.dispatch('market/buy', {packId, count: this.count})
    }
  },
  computed: {
    availablePacks () {
      return this.$store.state.market.availablePacks
    }
  },
  created () {
    this.$store.dispatch('market/loadAvailable')
  }
}
</script>

<style>
  .pack-card {
    min-width: 300px;
  }
</style>
