<template>
  <div>
    <div class="q-headline q-ma-sm">Мои товары</div>
    <q-card inline class="q-ma-sm"
            v-if="userPacks.list.length > 0"
            v-for="(item, index) in userPacks.list"
            v-bind:key="index"
            v-bind:item="item"
    >
      <div class="pack-card q-ma-sm" inline v-if="item.gift === null">
        <q-card-title>
          {{item.pack.name}}
        </q-card-title>
        <q-card-separator/>
        <q-card-main>
          {{item.pack.descriptions}}
        </q-card-main>
        <q-card-separator/>
        <q-card-main>
          Цена: {{ item.pack.priceUnwrap}}
        </q-card-main>
        <q-card-separator/>
        <q-card-actions>
          <q-btn @click="unwrapPack(item)" flat color="primary">Открыть ({{item.pack.priceUnwrap}})</q-btn>
          <q-btn flat>Подробнее</q-btn>
          <!--<q-btn @click="sellPack(item)" flat color="deep-orange">Продать ({{item.pack.priceSell}})</q-btn>-->
        </q-card-actions>
      </div>
      <div class="pack-card q-ma-sm" inline v-else>
        <q-card-media>
          <img v-bind:src="'/statics/'+item.gift.image"/>
        </q-card-media>
        <q-card-title>
          {{item.gift.name}}
        </q-card-title>
        <q-card-separator/>
        <q-card-actions>
          <q-btn flat color="primary"> Заказать </q-btn>
          <q-btn @click="sellPack(item)" flat color="deep-orange">Продать ({{item.gift.price}})</q-btn>
        </q-card-actions>
        </div>
    </q-card>
    <div
      v-if="userPacks.list.length === 0"
      class="q-ma-sm"
    >
      Еще нет товаров, почему бы не купить один из доступных комплектов?
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserPacksComponent',
  data () {
    return {}
  },
  computed: {
    userPacks () {
      return this.$store.state.market.userPacks
    }
  },
  methods: {
    unwrapPack (item) {
      let pack = item.pack
      this.$q.dialog({
        title: 'Подтверждение открытия',
        message: 'Вы действительно хотите открыть пакет "' + pack.name + '" по цене ' + pack.priceUnwrap + ' ?',
        cancel: true
      })
        .then(() => {
          this.$store.dispatch('market/unwrap', item.id)
        })
    },
    sellPack (item) {
      let pack = item.pack
      this.$q.dialog({
        title: 'Подтверждение продажи',
        message: 'Вы действительно хотите продать пакет "' + pack.name + '" по цене ' + pack.priceSell + '?',
        cancel: true,
        color: 'deep-orange'
      })
        .then(() => {
          this.$store.dispatch('market/sell', item.id)
        })
    }
  },
  created () {
    this.$store.dispatch('market/loadUserPacks')
  }
}
</script>

<style>
</style>
