<template>
  <q-page padding>
    <!-- content -->
    <pack-edit-admin/>
  </q-page>
</template>

<script>
  import PackEditAdmin from '../components/PackEditAdmin'

  export default {
    name: 'AdminPackEdit',
    components: {PackEditAdmin}
  }
</script>

<style>
</style>
