<template>
  <q-page>
    <!-- content  -->
    <h6>Packs</h6>
    <q-btn @click.native="vlink('packs/edit/new')">Add</q-btn>
    <packs-table-admin></packs-table-admin>

  </q-page>
</template>

<script>
  import PacksTableAdmin from '../components/PacksTableAdmin'

  export default {
  components: {PacksTableAdmin},
    name: 'AdminPacks',
    methods: {
      vlink(url) {
        this.$router.push(url)
      }
    }
}
</script>

<style>
</style>
