<template>
  <q-page class="flex flex-center">
    <available-packs></available-packs>
  </q-page>
</template>

<style>
</style>

<script>
import AvailablePacks from '../components/packs/AvailablePacks'
export default {
  name: 'PageIndex',
  components: {AvailablePacks},
  methods: {
    login () {
      this.$store.dispatch('user/login')
    },
    logoff () {
      this.$store.dispatch('user/logoff')
    }
  },
  created () {
    this.$store.commit('page/title', 'Главная')
  }
}
</script>
