<template>
  <div>
    <q-pagination v-model="page" :max="maxPages"/>
    <table class="q-table">
      <thead>
      <th>id</th>
      <th>name</th>
      <th>description</th>
      <th>active</th>
      <th>actions</th>
      </thead>
      <tbody>
      <tr v-for="(pack, index) of packs" :key="index">
        <td>{{pack.id}}</td>
        <td>{{pack.name}}</td>
        <td>{{pack.descriptions}}</td>
        <td></td>
        <td>
          <q-btn @click.native="vlink('packs/edit/'+pack.id)" label="Edit"/>
        </td>
      </tr>
      </tbody>
    </table>
    <q-pagination v-model="page" :min="1" :max="maxPages"/>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
  name: 'PacksTableAdmin',
  data: () => ({
    packs: [],
    errors: [],
    paginate: null,
    page: 1,
    maxPages: 1,
    perPage: 10
  }),
  created () {
    this.loadPageApi()
  },
  methods: {
    vlink (url) {
      this.$router.push(url)
    },
    loadPageApi() {
      console.log('Load page ' + this.page)
      axios.get('/api/v1/packs/list', {
          params: {
            page: this.page,
            perPage: this.perPage
          }
        })
        .then(response => {
          this.packs = response.data.body.packs
          this.paginate = response.data.body.paginate
          this.page = this.paginate.current
          this.maxPages = this.paginate.pages
        }).catch(e => {
        console.error(e)
      })
    }
  },
    watch: {
      page: {
        handler(val, oldVal) {
          this.loadPageApi()
        },
        deep: true
      }
    }
}
</script>

<style>
</style>
