<template>
  <div>

    <q-input v-model="name" float-label="Название"/>
    <q-input v-model="description" float-label="Описание"/>
    <q-input v-model="url" float-label="Изображение"/>
    <q-input v-model="price" float-label="Цена"/>
    <q-input v-model="keyPrice" float-label="Цена ключа"/>
    <q-input v-model="totalPrice" float-label="Полная стоимость" readonly/>

    <q-btn @click="savePack()">Сохранить</q-btn>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'PackEditAdmin',
    data() {
      return {
        name: '',
        description: '',
        url: '',
        active: true,
        id: this.$route.params['pack_id'],
        price: 30,
        keyPrice: 70,
        sending: false
      }
    },
    computed: {
      totalPrice() {
        return this.price + this.keyPrice
      }
    },
    methods: {
      savePack() {
        if (this.sending) {
          return
        }
        this.sending = true
        axios.post('/api/v1/packs/list', {
            name: this.name,
            description: this.description,
            image: this.url
          })
          .then(response => {
            console.log(response)
            this.sending = false
          })
          .catch(e => {
            this.sending = false
          })
      }
    }
  }
</script>

<style>
</style>
