<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: 'App',
  watch: {
    authorized (val, old) {
      // if (val === true && !this.$store.state.user.initiated) {
      //   this.$router.push('/')
      // } else {
      //   console.log('log out')
      // }
    }
  },
  computed: {
    authorized () {
      return this.$store.state.user.logged
    }
  },
  created () {
    this.$store.dispatch('user/check')
  }
}

</script>

<style>
</style>
