<template>
  <q-layout view="lHh Lpr lff"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-layout-header>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
          v-if="showLeft"
        />
        <q-toolbar-title>
          <span @click="$router.push('/')"> Random Gift </span>
          <span slot="subtitle">{{ pageTitle }}</span>
        </q-toolbar-title>
        <!--<q-btn flat round dense icon="alarm" />-->
        <q-btn v-if="!authorized" flat @click="$router.push('/login')">Вход</q-btn>
        <div v-if="authorized" @click="$router.push('/deposit')" class="q-pa-sm cursor-pointer">
          <div>Баланс: <b>{{balance}}</b></div>
        </div>
        <a class="cursor-pointer" @click="showAvatarActions" >
        <avatar  v-if="authorized" v-bind:username="profile.login" v-bind:src="userAvatarSrc"></avatar>
        <q-popover>
          <q-list separator link>
            <q-item to="/deposit" v-close-overlay>Пополнить баланс</q-item>
            <q-item to="/inventory" v-close-overlay>Мои товары</q-item>
            <q-item to="/profile" v-close-overlay>Профиль</q-item>
            <q-item to="/logout" v-close-overlay>Выход</q-item>
          </q-list>
        </q-popover>
        </a>
          <!--<q-btn v-if="authorized" flat @click="$store.dispatch('user/logout')">Выход</q-btn>-->
      </q-toolbar>
      <q-tabs v-if="showTabs">
        <q-route-tab
          slot="title"
          icon="map"
          to="/your/route"
          replace
          label="One Tab"
        />
        <q-route-tab
          slot="title"
          icon="assignment"
          to="/some/other/route"
          replace
          label="Other Tab"
        />
      </q-tabs>
    </q-layout-header>

    <!-- (Optional) The Footer -->
    <q-layout-footer>
      <q-toolbar>
        <!--<q-btn-->
        <!--flat-->
        <!--round-->
        <!--dense-->
        <!--icon="menu"-->
        <!--@click="leftDrawer = !leftDrawer"-->
        <!--/>-->
        <q-toolbar-title>
          <span slot="subtitle">copyright 2018</span>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-footer>

    <q-layout-drawer v-if="showLeft"
                     side="left"
                     v-model="leftDrawer"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <!-- Content here -->
        left
      </q-scroll-area>
    </q-layout-drawer>

    <q-breadcrumbs>
      <q-breadcrumbs-el label="Home" icon="home"/>
    </q-breadcrumbs>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
import Avatar from 'vue-avatar'

export default {
  name: 'LayoutName',
  components: {
    Avatar
  },
  data () {
    return {
      leftDrawer: true
    }
  },
  methods: {
    showAvatarActions () {
      console.log('showAvatarActions')
    }
  },
  computed: {
    pageTitle () {
      return this.$store.state.page.title
    },
    showTabs () {
      return this.$store.state.page.shotTabs
    },
    showLeft () {
      return this.$store.state.page.showLeft
    },
    authorized () {
      return this.$store.state.user.logged
    },
    profile () {
      return this.$store.state.user.profileData
    },
    balance () {
      return this.$store.state.user.balance
    },
    userAvatarSrc () {
      if (this.$store.state.user.logged && this.$store.state.user.profileData.avatar !== 'na') {
        return this.$store.state.user.profileData.avatar
      }
      return null
    }
  }
}
</script>

<style>
</style>
