<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <q-toolbar color="primary" glossy>
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
        >
          <q-icon name="menu"/>
        </q-btn>

        <q-toolbar-title>
          Quasar App
          <div slot="subtitle">Running on Quasar v{{ $q.version }}</div>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-header>

    <q-layout-drawer
      v-model="leftDrawerOpen"
      content-class="bg-grey-2"
    >
      <q-list
        no-border
        link
        inset-delimiter
      >
        <q-list-header>Debug pages</q-list-header>
          <q-item @click.native="vlink('/admin/packs')">
            <q-item-side icon="school"/>
            <q-item-main label="Admin packs " sublabel="test packs api"/>
          </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutMain',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    vlink (url) {
      this.$router.push(url)
    }
  }
}
</script>

<style>
</style>
