<template>
  <q-page padding v-if="logged">
    <!-- content -->
    <div>
      Ваш баланс: <b>{{profile.balance}}</b>
    </div>
    <q-list>
      <q-item append to="promo">Активировать промо-код</q-item>
    </q-list>
  </q-page>
</template>

<script>
import UserStoreMixin from 'src/store/user/mixin.js'
export default {
  name: 'DepositPage',
  mixins: [UserStoreMixin]

}
</script>

<style>
</style>
