<template>
  <q-page padding>
    <!-- content -->
    <user-packs></user-packs>
    <available-packs></available-packs>
  </q-page>
</template>

<script>
import AvailablePacks from 'src/components/packs/AvailablePacks'
import UserPacks from 'src/components/packs/UserPacks'
export default {
  name: 'InventoryPage',
  components: {
    AvailablePacks,
    UserPacks
  },
  created () {
    this.$store.commit('page/title', 'Мои товары')
  }
}
</script>

<style>
</style>
