<template>
  <q-page padding>
    <!-- content -->
  </q-page>
</template>

<script>
export default {
  name: 'LogoutPage',
  created () {
    this.$store.dispatch('user/logout')
    this.$router.push('/')
  }
}
</script>

<style>
</style>
